GitPython==3.1.42
torch==2.2.1
transformers==4.38.2
langchain
langchain-community
unstructured[all]
unstructured[all-docs]
unstructured[md]

#sudo apt-get install libmagic-dev poppler-utils tesseract-ocr libreoffice pandoc
# choco install libmagic poppler tesseract libreoffice pandoc
#brew install libmagic poppler tesseract libreoffice pandoc